MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=BROKOD
MYSQL_PORT=3307

JWT_SECRET=replace-with-a-strong-secret
FRONTEND_DOMAIN=http://localhost:5000
VITE_API_DOMAIN=
VITE_BASE_PATH=/projects/

APP_PORT=5000
