NODE_ENV=development
PORT=5050

JWT_SECRET=replace-me
JWT_ISSUER=brokod-ppcrmm
JWT_AUDIENCE=brokod-ppcrmm-api

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_DATABASE=PCRM_V4

FRONTEND_DOMAIN=http://localhost:5173
BACKEND_DOMAIN=http://localhost:5050
