:root {
  --color-primary: #7c4dff;
  --color-secondary: #6d39ff ;
  --color-background: #f5f7ff;
  --color-font-primary: #111827;
  --color-font-secondary: #ffffff;
  /* --color-primary: #31ff42;
  --color-secondary: #469a51;
  --color-background: #ecffed;
  --color-font-primary: #111827;
  --color-font-secondary: #5b6478; */
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.swal2-container {
  z-index: 20000 !important;
}
